<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

  <style>
   .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: rgb(69, 217, 228); /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
  </style>
<body>

<a href="/entrance/auth" class="btn">Войти</a>
<a href="/registr/new" class="btn">Решистрация</a>


</body>
</html>